<div class="widget">
<h5 class="widgettitle">Developer section Links:</h5>
<ul>
    <li><a title="About CKAN" href="/developers/about-ckan/">About CKAN</a></li>
    <li><a title="Docs and Download" href="/developers/docs-and-download/">Docs &amp; Download</a></li>
    <li><a title="Mailing Lists" href="/developers/mailing-lists/">Mailing Lists</a></li>
    <li><a title="Roadmap" href="http://github.com/ckan/ideas-and-roadmap">Roadmap</a></li>
    <li><a title="Source code and issues" href="https://github.com/ckan/ckan">Github &#8211; Code and Issues</a></li>

</ul>
</div>
